<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="maven example Suite">
    
   	
  <test name="maven TestCases">
      
    <classes>
        
      <class name="com.qa.tests.GoogleHomePageTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
